<p>
  By: <%= comment.user.name %>
  <%= image_tag(comment.user.image, size: "45") %>
</p>

<p>
  <%= comment.body %>
</p>

<p>
  <% if comment.user == current_user %>
    <%= link_to 'Delete', [comment.vinyl, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>