<p>
  <strong>By:</strong>
  <%= comment.commenter %>

</p>

<p>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Delete', [comment.vinyl, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>