<%= form_with(model: [ @vinyl, @vinyl.comments.build ], local: true) do |form| %>
  <p>
    <% unless comment.nil? %>
      <%= form.hidden_field :parent_id, value: comment.id %>
    <%end%>
    <%= form.text_field :body , class:"form-control"%>
  </p>
  <p>
    <%= form.submit "Comment", class:"btn btn-control" %>
  </p>
<% end %>


