<div>
  <%= link_to 'Filter by dates', vinyls_index_path(filter: "date") %>
  <%= link_to 'Filter by votes', vinyls_index_path(filter: "vote") %>
</div>

<%= render '/vinyls/grid'%>


<%= link_to new_vinyl_path do %>
  <div class="btn-floating">
    <i class="material-icons">add</i>
  </div>
<% end %>