<div>
  <%= link_to 'Filter by dates', vinyls_index_path %>
  <%= link_to 'Filter by votes', vinyls_index_path(filter: "vote") %>

  <% if @sort=="vote" %>
    Sorted by votes
  <% else %>
    Sorted by dates
  <% end %>

</div>

<%= render '/vinyls/grid'%>


<%= link_to new_vinyl_path do %>
  <div class="btn-floating">
    <i class="material-icons">add</i>
  </div>
<% end %>