// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: #5F7C8B;
$accent-color: #577280;

.comment-replies{
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
  margin-bottom: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;

  .delete{
    visibility: hidden;
  }

  &:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  &:hover .delete{
    visibility: visible;
  }

  .comment{
    display: flex;
    justify-content: space-between;
    .comment-group-left{
      display: flex;
      justify-content: flex-start;
      .comment-left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .btn-reply{
          padding-top:0.6rem;
          margin: 0 auto;
          font-size: small;
          cursor: pointer !important;
          &:hover{
            font-weight: bold;
          }
        }
      }
      .comment-right{
        margin-left: 0.6rem;
        .comment-body{
          margin-left: 0.6rem;
        }
      }
    }
  }

  .display-replies{
    .form-reply{
      padding-top: 0.6rem;
    }
  }

}

