// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #5F7C8B;
$accent-color: #577280;

.user{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10% 2rem 10%;

  .user-profile{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    .user-name{
      margin-right: 2rem;
    }
  }
  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: $primary-color;
  }

  .filter-submissions{
  }
  .filter-submissions{
  }

  .user-vinyls{
    width: 100%;
    margin-top: 2rem;

  }
}