// Place all the styles related to the vinyls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vinyls{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  grid-gap: 30px;
  margin: 50px 5% 50px 5%;
}

.vinyl{
}
