// Place all the styles related to the vinyls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: #5F7C8B;

.btn-floating{
  background: $primary-color !important;
}

.show-top{
  width: 100%;
  padding: 3% 8% 0 8%;
  overflow: auto;

  .show-cover{
    display: inline;
    width: 45%;
    float: left;
  }

  .show-info{
    display: inline;
    float: right;
    width: 45%;

    .control-panel{
      margin: 0 auto;
      text-align: center;
      float: bottom;
    }

    .btn-control {
      color: #ffffff;
      background-color: #5F7C8B;
      border-color: #5F7C8B;
    }

    .btn-control:hover,
    .btn-control:focus,
    .btn-control:active,
    .btn-control.active,
    .open .dropdown-toggle.btn-control {
      color: #ffffff;
      background-color: #577280;
      border-color: #5F7C8B;
    }

    .btn-control:active,
    .btn-control.active,
    .open .dropdown-toggle.btn-control {
      background-image: none;
    }

    .btn-control.disabled,
    .btn-control[disabled],
    fieldset[disabled] .btn-control,
    .btn-control.disabled:hover,
    .btn-control[disabled]:hover,
    fieldset[disabled] .btn-control:hover,
    .btn-control.disabled:focus,
    .btn-control[disabled]:focus,
    fieldset[disabled] .btn-control:focus,
    .btn-control.disabled:active,
    .btn-control[disabled]:active,
    fieldset[disabled] .btn-control:active,
    .btn-control.disabled.active,
    .btn-control[disabled].active,
    fieldset[disabled] .btn-control.active {
      background-color: #5F7C8B;
      border-color: #5F7C8B;
    }

    .btn-control .badge {
      color: #5F7C8B;
      background-color: #ffffff;
    }
  }
}

.show-comments{
  margin: 50px;
  display: block;
}

.form{
  width: 100%;
  padding: 3% 8% 5% 8%;
  overflow: auto;

  .form-fill{
    width: 45%;
    float: left;
  }

  .form-preview{
    width: 45%;
    float: right;
  }
}



.submit-btn{
  background: $primary-color;
}

.vinyls{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  grid-gap: 30px;
  margin: 50px 5% 50px 5%;

  .vinyl{
    position: relative;
    overflow: hidden;
    max-width: 298px;
    max-height: 298px;

    .cover{
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease;
    }

    &:hover .cover{
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }

    .vinyl-overlay{
      width:100%;
      height:40px;
      background:rgba(0,0,0,.6);
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;

      .album-title-overlay, .artist-overlay {
        color: white;
        opacity: 0.8;
        font-size: 13px;
        font-weight: 100;
        margin: 0 10px 0 10px;
      }
    }

    &:hover .vinyl-overlay{
      opacity: 1;
    }
  }
}

